
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:darkorchid;
    color: azure;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:underline
}

.center {
    text-align: center;
}

.buttons {
    text-align: center;
}

button {
    background-color:blueviolet;
    color:azure;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
}

button:hover {
    background-color:darkorchid;
}

button:disabled {
    cursor: not-allowed;
    background-color: black;
}